<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helloWorldTech.funQuest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FunQuest"
        tools:targetApi="n">
        <activity android:name=".ui.fag.FagDetailsActivity"></activity>
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.challenge.AddChallengeActivity" />
        <activity android:name=".ui.fag.HelpQuestActivity" />
        <activity android:name=".ui.challenge.GameDetailsActivity" />
        <activity
            android:name=".ui.challenge.GameListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.places.PlacesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.cities.CitiesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.forgetPassword.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.forgetPassword.ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.register.OtpActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splashes.AfterSplashActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splashes.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>